<h1>Message Details</h1>
<p><strong>User:</strong> <%= msg.user %></p>
<p><strong>Text:</strong> <%= msg.text %></p>
<p><strong>Added:</strong> <%= msg.added.toDateString() %></p>

<a href="/">Back to all messages</a>